$nav-h: 125px;
$font-heading: 5rem;

$clr-blackMain: #333;
$clr-darken: #26272d;
$clr-primary: #267df4;
$clr-gold: #e9c80e;
$clr-lightgreen: #6fc754;
$clr-bg-gray: #f4f4f5;
$clr-bg-silver: #ebebed;
$clr-bg-darkgray: #d4d4d5;
$clr-para-gray: #8c8f94;

$border-light: 1px solid rgba(38, 39, 45, 0.1);
$border-dark: 1px solid rgba(140, 143, 148, 0.4);

$shadow-s: 0 1px 20px rgba(0, 0, 0, 0.04);
$shadow-l: 0 1px 10px rgba(0, 0, 0, 0.15);
$shadow-xl: 36px 20px 70px rgb(0 0 0 / 15%);
$arrow-shadow: 0 1px 2px rgb(0 0 0 / 60%);

$img-sd-l: 0 5px 15px rgba(0, 0, 0, 0.1);
$img-sd-d: 0 5px 15px rgba(0, 0, 0, 0.2);

$popup-transition: 0.7s cubic-bezier(0.545, 0, 0.05, 1);
$nav-transition: 0.37s cubic-bezier(0, 0, 0.58, 1);
